<div class="container">
  <h1 class="text-center p-5"><%= @classroom.access_code %></h1>


    <% @activities.each do |e| %>
      <div class="setting-box">
        <h2><%= e.title %></h2>
        <form action="/activities/<%= e.id %>/toggle_availability">
          <input type="submit" value="Select This Activity" class="btn btn-primary">
        </form>
      </div>
    <% end %>

    <div class="d-flex justify-content-center">
      <%= link_to "Back to Classroom", classroom_path(current_user.classroom), class: "btn btn-primary" %>
    </div>

</div>
