<div>
  <h1><%= @classroom.name %></h1>
</div>

<div>
  <% @activities.each do |e| %>
    <h2><%= e.title %></h2>
    <form action="/activities/<%= e.id %>/toggle_availability">
      <input type="submit" value="Choose This Activity" class="btn btn-primary">
    </form>
    <% e.badges.each do |b|%>
    <% if b.user.classroom == @classroom %>
      <p><%= b.status %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
