  <div class="d-flex">
    <div id="puzzle_container">
      <table id="puzzle">
      </table>
    </div>

    <div class="m-2">
      <h5><strong>Horizontal</strong></h5>
      <p>3. a person who learns another's role in order to be able to act as a replacement at short notice - <span style="color:green">Understudy</span> </p>
      <p>4. the eyes, ears and hands of the stage manager in the back-stage area (abbreviated) -  <span style="color:green">ASM</span></p>
      <p>6. also known as the dramatist who is a person who writes plays - <span style="color:green">Playwright</span></p>
      <p>7. a person whose profession is acting on the stage - <span style="color:green">Actor</span></p>
      <p>8. a person who oversees all aspects of mounting a theatre production - <span style="color:green">Producer</span></p>

      <h5><strong>Vertical</strong></h5>
      <p>1. provide practical and organizational support to the director, actors, designers, stage crew and technicians throughout the production - <span style="color:green">Stage Manager</span></p>
      <p>2. expert who supervises the activities of all technical departments and oversees the use and maintenance of theater equipment (abbreviated) - <span style="color:green">TD</span></p>
      <p>5. oversees and orchestrates the mounting of a theatre production - <span style="color:green">Director</span></p>
    </div>
  </div>

  <div id="buttons_container">
    <button id="clear_all" class="btn btn-primary">Clear All</button>
    <button id="check" class="btn btn-primary">Check</button>
    <button id="solve" class="btn btn-primary">Solve</button>
    <button id="clue" class="btn btn-primary">Clue</button>
  </div>
<%= javascript_include_tag 'crossword' %>
