<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.first_name %> <%= user.last_name %>
      <form action="/<%= user.id %>/toggle">
        <input type="submit">
      </form>
    </li>
  <% end %>
</ul>
