<% if user_signed_in? %>

  <h1>Your Classroom</h1>
  <% if current_user.teacher %>
    <h2><%= link_to "View your classroom", classroom_path(@user.classroom) %></h2>
  <% else %>
    <h2>View your classmates' progress:</h2>
  <% end %>

  <br>

  <% current_user.classroom.users.each do |user| %>
    <div>
      <%= link_to "#{user.first_name} #{user.last_name}", profile_path(user) unless user.teacher? %>
    </div>
  <% end %>

<% else %>
  <h2>Please sign in to see your classroom.</h2>
<% end %>
