<div class="container">
  <img class="rounded mx-auto d-block m-3"src="https://images.unsplash.com/photo-1503095396549-807759245b35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlYXRyZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="" style="height: 400px">

  <div class="home-box">
    <p>
      Welcome to the show Mizushōbai (The Water Trade), this is an interactive theatre companion:
      We're so lucky to have you here!
    </p>
    <p>
      Mizushōbai (The Water Trade) was developed with Playwrights’
      Workshop Montréal through a variety of programs, including the Gros Morne Playwrights’
      Residency and the EstérELLE Writers-in-Residence.
    </p>

    <p>
      Mizushōbai (The Water Trade) was the recipient of Tableau D’Hôte Theatre’s inaugural More than a footnote commission,
      and received financial support from the Cole Foundation and the Canada Council for the Arts.”
    </p>
  </div>

  <div class="home-box">
    <p>This is how you use the guide:</p>
    <ul>
      <li>Blah</li>
      <li>Blah</li>
      <li>Blah</li>
      <li>Blah</li>
    </ul>
  </div>

  <% if current_user %>
    <div class="d-flex justify-content-evenly flex-wrap">
      <%= link_to "Enter The Classroom", classroom_path(current_user.classroom), class: "btn btn-primary mb-1", style: "min-width: 200px;" %>
      <%= link_to "Show Information", play_path, class: "btn btn-primary mb-1", style: "min-width: 200px;"  %>
      <%= link_to "Your Activities", activities_path, class: "btn btn-primary mb-1", style: "min-width: 200px;"  if current_user.teacher == false  %>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <%= link_to "Sign up", new_registration_path(:user), class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
