.blurb {
  width: 50%;
  margin: 24px auto;
  padding: 16px;
  border-radius: $border-radius;
  border: solid 1px $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 2px 8px rgb(221, 221, 221);

  p {
    margin: 8px 0
  }
}
