.grey-box {
  background-color: rgb(230,230,230);
  padding: 24px;
}

.grey-dark {
  background-color: rgb(200,200,200);
  padding: 16px;
}

.photo-box {
  background-color: rgb(230,230,230);
  padding: 16px;
  overflow-x: scroll;
}
