.grey-box {
  background-color: rgb(230,230,230);
  padding: 24px;
}

.grey-dark {
  background-color: rgb(200,200,200);
  padding: 16px;
}

.photo-box {
  background-color: rgb(230,230,230);
  padding: 16px;
  overflow-x: scroll;
}

.photo-box img {
  max-height: 350px;
  min-width: 350px;
  object-fit: cover;
}

.photo-box-actor {
  background-color: rgb(230,230,230);
  padding: 16px;
  overflow-x: scroll;
}

.photo-box-actor img {
  max-height: 250px;
  min-width: 250px;
  object-fit: cover;
}
