.navbar-lewagon {
  justify-content: space-between;
  background: $black-one;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $gray-one;
  transition: 0.8s;

  &:hover  {
    color: $white;
    text-shadow: 1px 1px 2px $white;
  }
}

.navbar-brand {
  color: $gray-one;
  font-size: larger;
  font-weight: bold;
  transition: 0.8s;

  &:hover  {
    color: $white;
    text-shadow: 1px 1px 2px $white;
  }
}

.nav-item, .dropdown-item {
  font-size: large;
  font-weight: bold;
}
