<div class="container">
  <h1 class="text-center mt-3"><%= activity.title %></h1>
  <div class="text-center">
    <%= cl_image_tag activity.photos.first.key, usemap: "#map" %>
    <map name="map">
        <area id="star1" shape="rect" coords="146,390,288,533" href="" alt="star1">
        <area id="star2" shape="rect" coords="526,90,646,198" href="https://setapp.com/how-to/paint-for-mac" alt="star2">
        <area id="star3" shape="rect" coords="973,246,1097,352" href="https://setapp.com/how-to/paint-for-mac" alt="star3">
    </map>
   </div>
