<h1><%= @activity.title %></h1>

<% @activity.activity_questions.each do |question| %>
  <p><%= question.question_text %></p>
<% end %>

<%# Only show this link to students %>
<%= link_to "Start this activity", results_path([current_user, @activity]) unless current_user.teacher %>

<%= link_to "Back to activities", activities_path %>
