<div class="container">
  <h1 class="text-center mt-3"><%= @activity.title %></h1>

  <%# @activity.activity_questions.each do |question| %>
    <p><%#= question.question_text %></p>
  <%# end %>

  <h4 class="question"><%= @activity.description %></h4>
  <%# Only show this link to students %>
  <%# && Only show this link if the badge is not unavailable %>
  <div class="d-flex justify-content-evenly">
    <% if current_user.teacher? || @activity.badges.find_by(user: current_user).active?  %>
      <p class="text-center"><%= link_to "Start this activity", results_path([current_user, @activity]), class: "btn btn-primary mb-1", style: "min-width: 200px;" unless current_user.teacher %></p>
    <% else %>
      <h3>You can't complete this activity yet!</h3>
    <% end %>
  </div>
  <div class="d-flex justify-content-evenly flex-wrap">
    <p class="text-center"><%= link_to "Back to activities", activities_path, class: "btn btn-primary mb-1", style: "min-width: 200px;" %></p>
  </div>
</div>
